
div {
    background-color: black;
    height: 750px;
}
h1 {
    text-align: center;
    padding-top: 5px;
    margin-top: 0px;
    text-transform: uppercase;
    color: white;
}
p {
    text-align: center;
    padding-top: 5px;
    margin-top: 0px;
    color: white;
}
img{
    width: 80%;
    height: 80%;
    border: 5px solid white;
margin-left: 10em;
}
